@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.icon{
    border-radius: 50%;
}
body{
    background-color: bisque;
}
main{
    width: 100%;
}
main picture{
    width: 100%;
    display: flex;
    justify-content: center;
}
main picture img{
    border-radius: 50%;
}
main .name{
    width: 100%;
    text-align: center;
}
